DB_URL=jdbc:mysql://localhost:3306/fintrack_db?useSSL=false&serverTimezone=Asia/Kolkata&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=MySQL@505891.

JWT_SECRET=replace_with_a_long_random_secret